service cloud.firestore {
  match /databases/{database}/documents {
    match /favorites/{favoritesId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == resource.data.authorId;
      allow create: if request.auth != null;
    }
  }
}